body {
  background: #909497;
  border: 5px solid #F39C12;
  font: 700 16px 'palatino';
  max-width: 800px;
  margin: 5% auto;
}

#drum-machine {
  background: #D7DBDD;
  margin: auto;
  padding: 20px;
}

#display {
  background: #909497;
  margin: auto;
  padding: 10px 0;
  text-align: center;
  width: 200px;
}

#drum {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.drum-pad {
  background: #909497;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.8);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.8);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 28%;
  height: 100px;
  margin: 10px;
}

.drum-pad:active {
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.8);
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.8);
  transform: translateY(3px);
}

.clip {
  height: 100%;
  width: 100%;
}